{literal}
<script>
$(document).ready(function() {
	$('.produk-hukum').on('click', function(){
		var tmp = $(this).attr('id');
		//console.log(tmp);
	});
});
</script>
{/literal}
<!-- REVOLUTION SLIDER -->
    <div class="slider fullwidthbanner-container roundedcorners">
        <!--
            Navigation Styles:
            
                data-navigationStyle="" theme default navigation
                
                data-navigationStyle="preview1"
                data-navigationStyle="preview2"
                data-navigationStyle="preview3"
                data-navigationStyle="preview4"
                
            Bottom Shadows
                data-shadow="1"
                data-shadow="2"
                data-shadow="3"
                
            Slider Height (do not use on fullscreen mode)
                data-height="300"
                data-height="350"
                data-height="400"
                data-height="450"
                data-height="500"
                data-height="550"
                data-height="600"
                data-height="650"
                data-height="700"
                data-height="750"
                data-height="800"
        -->
        <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview1">
            <ul class="hide">

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="assets/images/demo/index-min.jpg">

                    <img src="assets/img/1x1.png" data-lazyload="assets/img/demo/index-min.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                    <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

                    <div class="tp-caption customin ltl tp-resizeme text_white"
                        data-x="center"
                        data-y="155"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1000"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <span class="weight-300">Another text here</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                        data-x="center"
                        data-y="205"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1200"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        Text Here
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato"
                        data-x="center"
                        data-y="295"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
                        Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea.
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                        data-x="center"
                        data-y="383"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1550"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <a href="#purchase" class="btn btn-default btn-lg">
                            <span>Other text here</span> 
                        </a>
                    </div>

                </li>

                
            </ul>

            <div class="tp-bannertimer"><!-- progress bar --></div>
        </div>
    </div>
<!-- /REVOLUTION SLIDER -->


<section class="margin-bottom">
   <div class="container">
        
       <div class="row" style="margin-top:20px">
            <div class="col-md-6">
                <h2 class="no-margin-top">Peraturan Hukum Terbaru</h2>
					{if $produk}
					{foreach $produk as $value}
					<div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
								{if $value.cover}
									<img src="{$basedomain}public_assets/$value.cover" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
								{else}
									<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
								{/if}
							</div>
                            <div class="col-md-8 text-left">
                                 <a href="{$basedomain}produk/detail/?id={$value.id_produk}"><h4 class="content-box-title">{$value.judul}</h4></a>
                                <p align="justify">{$value.new_fomat_tgl} <br> <b>{$value.ref_deskripsi}</b></p>
                                <a href="{$basedomain|cat:'public_assets/'|cat:$value.file}" class="btn btn-ar btn-success produk-hukum" target="blank" id="{$param_produk|cat:'_'|cat:$value.id_produk}">Download</a>
                                 <label id="{$count_produk|cat:'_'|cat:$value.id_produk}">Telah diunduh {$value.hit} kali </label>
								<br>
								<!--<embed width="191" height="207" name="plugin" src="{$basedomain|cat:'public_assets/'|cat:$value.file}" type="application/pdf">-->
                                <span class="label label-primary">{$value.Tahun}</span> 
                                <span class="label label-primary">{$value.jns_produk}</span>
                            </div>
                        </div>
                    </div>
					{/foreach}
					{/if}
                    <div class="content-box box-default">
                        <div class="row">
                               <a href="{$basedomain}produk" class="pull-center">Index</a>
                        </div>
                    </div>
                
            </div>
            <div class="col-md-6">
                <h2 class="no-margin-top">Berita Hukum</h2>
                 {if $berita}
				 {foreach $berita as $values}
				 <div class="content-box box-default">
                    <div class="row text-left">
                        <div class="col-md-12">
                            <a href="{$basedomain}kegiatan/detail/?id={$values.id_berita}" class="berita-hukum" id="{$param_berita|cat:'_'|cat:$values.id_berita}" target="blank"><h4 class="content-box-title">{$values.judul}</h4></a>
                            <p>{dateFormat($values.tanggal,'article-day')}</p>
                        </div>
                        <div class="col-md-4">
                            {if $values.file}
								<img src="{$basedomain}public_assets/{$values.file}" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
							{else}
								<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
							{/if}
                        </div>
                        <div class="col-md-8 text-left">
                            <p align="justify"><b>{$values.ringkasan}<b/> <a href="{$basedomain}kegiatan/detail/?id={$values.id_berita}" class="berita-hukum" id="{$param_berita|cat:'_'|cat:$values.id_berita}" target="blank">Read More</a></p> 
                           <label id="{$count_berita|cat:'_'|cat:$values.id_berita}">Telah dibaca {$values.hit} kali </label>
                        </div>
                    </div>
                </div>
				{/foreach}
                {/if}
                <div class="content-box box-default">
                    <div class="row">
                        <a href="{$basedomain}kegiatan" class="pull-center">Index</a>
                    </div>
                </div>
                
                
            </div>
        </div> 
    </div>
</section>


<div class="container">
    
   <section class="margin-bottom">
       <h2 class="section-title">Referensi Buku</h2>
       <div class="bxslider-controls">
            <span id="bx-prev4"></span>
            <span id="bx-next4"></span>
        </div>
        <ul class="bxslider" id="latest-works">
		{foreach $ref as $val}
          <li>
            <div class="img-caption-ar">
				{if $val.cover}
					<img src="{$basedomain}public_assets/{$val.cover}" alt="" class="img-responsive" width="160px" height="160px" >
				<!--<img src="{$basedomain}public_assets/{if $val.cover ==''}noimage.png{else}{$val.cover}{/if}" class="img-responsive"  alt="Image" width="160px" height="160px" style="margin:5px 10px 0px 0px">-->
                {else}
					<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" >
				{/if}
				<div class="caption-ar">
                    <div class="caption-content">
                        <a href="{$basedomain}referensi/detail/?id={$val.id_ref}" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                        <h4 class="caption-title">{$val.judul}</h4>
                    </div>
                </div>
            </div>
        </li>
		{/foreach}
       </ul>
   </section>

   <section>
        <h2 class="section-title">Link Tautan</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="bxslider-controls">
                     <span id="bx-prev5"></span>
                     <span id="bx-next5"></span>
                 </div>
                 <ul class="bxslider" id="home-block">
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Dolore totam at ea reiciendis suscipit a tempore cum nisi aspernatur nisi alias posuere erat a ante posuere erat a ante ultricies ultricies nisi vel augue quam semper conse erat quuntur.</p>
                            <footer>Sheldon Cooper, Physical Quantum</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
   </section>

</div>
{literal}
<script>
$(document).ready(function() {
	$('.produk-hukum,.berita-hukum').on('click', function(){
		var tmp = $(this).attr('id');
		var tmp_split = tmp.split("_");
		var id = tmp_split[1]; 
		var inf = tmp_split[0];
		var type ;
		var text ;
		var param ;
		
		if (inf == 'produk'){
			type = 1;
			text = 'Telah diunduh ';
			param = 'ref_produk_'+id;
		}else if(inf == 'berita'){
			type = 2;
			text = 'Telah dibaca ';
			param = 'ref_berita_'+id;
		}
		$.post(basedomain+"home/ajax_count", {id: id, type: type}, function(data){
							if(data.hit > 0){
								$('#'+param).text(text+data.hit+' kali');
							}else{
								//nothing	
							}
			},"JSON");
	});
	
});	
</script>
{/literal}
