<header class="main-header">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Kontak Kami</a></li>
        </ol>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-12">
		 <h2 class="page-title no-margin-top">Kontak Kami</h2>
		</div>
	</div>

    <div class="row">
         
            <div class="col-md-7" style=" border: 1px solid #E5E5E5; box-sizing: border-box"> 
                <h3>Kontak Kami</h3>
                 <div class="footer-widget">
                    <div class="media" style="margin-top:40px">
                    <a href="#" style="color:#FFF" class="social-icon-ar circle facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" style="color:#FFF" class="social-icon-ar circle twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" style="color:#FFF" class="social-icon-ar circle youtube"><i class="fa fa-youtube"></i></a>
					<a href="#" style="color:#FFF" class="social-icon-ar circle instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="media">
                      <i class="glyphicon glyphicon-map-marker fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">Biro Hukum, Organisasi dan HUMAS Gedung I BPPT <br> Jl. M.H.Thamrin No.8 Lantai 10<br>Kebon Sirih Jakarta Pusat 10340</h4>
                        </div>
                    </div>
                    <div class="media">
                        <i class="glyphicon glyphicon-phone fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">Phone 021 3927422 - 021 3927527</h4>
                        </div>
                    </div>
                    <div class="media">
                        <i class="glyphicon glyphicon-envelope fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">bsn@bsn.go.id</h4>
                          
                        </div>
                    </div>
                </div>
                
                <p>Isi formulir berikut untuk menghubungi kami via email:</p>
                
                <div class="panel-body" style=" border: 1px solid #E5E5E5; box-sizing: border-box; margin-bottom:20px">
                    <form class="form-horizontal" role="form">
                        
                      
                         <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">Nama Lengkap:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Silakan Isi Nama Anda">
                                </div>
                          </div>
                          
                         <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">Alamat Email:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Silakan Isi Email Anda">
                                </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">No.Telepon/No.HP:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Silakan Isi Kontak Anda">
                                </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">Isi Pesan Anda:</label>
                                <div class="col-sm-9">
                                    <text type="email" class="form-control" id="inputEmail3" placeholder=""></text>
                                </div>
                          </div>
                          
                           <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">Kode Verifikasi:</label>
                                <div class="col-sm-9">
                                    <text type="email" class="form-control" id="inputEmail3" placeholder=""></text>
                                </div>
                          </div>
                          
                           <div class="form-group">
                            <label for="select" class="col-sm-3 control-label"></label>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-ar btn-primary" data-dismiss="modal">Kirim</button>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Batal</button>
                                </div>
                          </div>
                         
                    </form>
                        
                </div>
            </div>
            
            <div class="col-md-5">
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-ar">
                  <li class="active"><a href="#peraturan" data-toggle="tab">Peraturan Hukum Terbaru</a></li>
                  <li><a href="#berita" data-toggle="tab">Berita Hukum</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="peraturan">
                     <div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/demo/book.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <h4 class="content-box-title">Peraturan Pemerintah Republik Indonesia Nomor 82 Tahun 2012</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB <br> <b>tentang Penyelenggaraan Sistem dan Transaksi Elektronik</b></p>
                                <a href="#" class="btn btn-ar btn-success">Download</a>
                                <br>
                                <span class="label label-primary">Tahun 2012</span> 
                                <span class="label label-primary">Peraturan Pemerintah</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/demo/book.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <h4 class="content-box-title">Peraturan Pemerintah Republik Indonesia Nomor 82 Tahun 2012</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB <br> <b>tentang Penyelenggaraan Sistem dan Transaksi Elektronik</b></p>
                                <a href="#" class="btn btn-ar btn-success">Download</a>
                                <br>
                                <span class="label label-primary">Tahun 2012</span> 
                                <span class="label label-primary">Peraturan Pemerintah</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/demo/book.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <h4 class="content-box-title">Peraturan Pemerintah Republik Indonesia Nomor 82 Tahun 2012</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB <br> <b>tentang Penyelenggaraan Sistem dan Transaksi Elektronik</b></p>
                                <a href="#" class="btn btn-ar btn-success">Download</a>
                                <br>
                                <span class="label label-primary">Tahun 2012</span> 
                                <span class="label label-primary">Peraturan Pemerintah</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-box box-default">
                        <div class="row">
                            <a href="#" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>
                </div>
                  
                  <div class="tab-pane" id="berita">
                     <div class="content-box box-default">
                        <div class="row text-left">
                            <div class="col-md-12">
                                <h4 class="content-box-title">Infografis: Alur Proses Sertifikasi SNI Pada Produk</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB </p>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/demo/w3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <p>Berikut Informasi Proses Sertifikasi SNI yang disajikan dalam infografis... <a href="#">Read More</a></p> 
                                <h6>Telah dibaca 2500 kali</h6>
                            </div>
                        </div>
                    </div>
                    
                     <div class="content-box box-default">
                        <div class="row text-left">
                            <div class="col-md-12">
                                <h4 class="content-box-title">Infografis: Alur Proses Sertifikasi SNI Pada Produk</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB </p>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/demo/w2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <p>Berikut Informasi Proses Sertifikasi SNI yang disajikan dalam infografis... <a href="#">Read More</a></p> 
                                <h6>Telah dibaca 2500 kali</h6>
                            </div>
                        </div>
                    </div>
                    
                     <div class="content-box box-default">
                        <div class="row text-left">
                            <div class="col-md-12">
                                <h4 class="content-box-title">Infografis: Alur Proses Sertifikasi SNI Pada Produk</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB </p>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/demo/w2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <p>Berikut Informasi Proses Sertifikasi SNI yang disajikan dalam infografis... <a href="#">Read More</a></p> 
                                <h6>Telah dibaca 2500 kali</h6>
                            </div>
                        </div>
                    </div>
                    
                    <div class="content-box box-default">
                        <div class="row">
                            <a href="#" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>

                  </div>
                </div>
            </div>
        
            
    </div>
    

</div>