{literal}
<script src='https://www.google.com/recaptcha/api.js'></script>
{/literal}
<header class="main-header">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{$basedomain}">Home</a></li>
            <li><a href="{$basedomain}kontak">Kontak Kami</a></li>
        </ol>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-12">
		 <h2 class="page-title no-margin-top">Kontak Kami</h2>
		</div>
	</div>

    <div class="row">
         
            <div class="col-md-7" style=" border: 1px solid #E5E5E5; box-sizing: border-box"> 
                <h3>Kontak Kami</h3>
                 <div class="footer-widget">
                    <div class="media" style="margin-top:40px">
                    <a href="#" style="color:#FFF" class="social-icon-ar circle facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" style="color:#FFF" class="social-icon-ar circle twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" style="color:#FFF" class="social-icon-ar circle youtube"><i class="fa fa-youtube"></i></a>
					<a href="#" style="color:#FFF" class="social-icon-ar circle instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="media">
                      <i class="glyphicon glyphicon-map-marker fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">Biro Hukum, Organisasi dan HUMAS Gedung I BPPT <br> Jl. M.H.Thamrin No.8 Lantai 10<br>Kebon Sirih Jakarta Pusat 10340</h4>
                        </div>
                    </div>
                    <div class="media">
                        <i class="glyphicon glyphicon-phone fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">Phone 021 3927422 - 021 3927527</h4>
                        </div>
                    </div>
                    <div class="media">
                        <i class="glyphicon glyphicon-envelope fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">bsn@bsn.go.id</h4>
                          
                        </div>
                    </div>
                </div>
                
                <p>Isi formulir berikut untuk menghubungi kami via email:</p>
                
                <div class="panel-body" style=" border: 1px solid #E5E5E5; box-sizing: border-box; margin-bottom:20px">
                    <form class="form-horizontal" role="form" action="{$basedomain}kontak/ins_pesan" method="post">
                        
                      
                         <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">Nama Lengkap:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="nama" class="form-control" id="inputEmail3" placeholder="" required>
                                </div>
                          </div>
                          
                         <div class="form-group" id="emaildiv">
                            <label for="select" class="col-sm-3 control-label">Alamat Email:</label>
                                <div class="col-sm-9">
                                    <input type="text" id="emailid" name="email" class="form-control" required>
                                </div>
                          </div>
						  <div class="form-group" id="message2"> 
								<div class="col-md-3"></div>
								<div class="col-md-9"> 
										<label class="text-danger" id="help-text2">Email Invalid</label>
								</div>
							</div>
                          
                          <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">No.Telepon/No.HP:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="tlpn" class="form-control" id="inputEmail3" placeholder="" required onkeypress="return isNumber(event)">
                                </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="select" class="col-sm-3 control-label">Isi Pesan Anda:</label>
                                <div class="col-sm-9">
                                     <textarea type="text" name="pesan" class="form-control" rows="3" placeholder="" required></textarea>
                                </div>
                          </div>
                          
						 <div class="form-group">
							<div class="col-md-3"></div>
							<div class="col-md-9"><div class="g-recaptcha" data-sitekey="6LfMmiUTAAAAAKbTa1XSd2OmJSHOPbRx9pJoamo2"></div></div>
							{*}secret key | Tolong hapus klo sudah : 6LfMmiUTAAAAAKbTa1XSd2OmJSHOPbRx9pJoamo2{/*}
						</div>
						 <div class="form-group">
							<div class="">
								<div class="col-md-3"></div>
									<div class="col-md-9">
										<label><input class="checked-agree" type="checkbox" name="termagree" onclick="return submitForm()"><i></i> Dengan ini saya selaku pelapor bertanggung jawab atas informasi yang saya kirimkan ini.</label>
									</div>
								</div>
						  </div>
                          <div class="form-group">
                            <label for="select" class="col-sm-3 control-label"></label>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-ar btn-primary" id ="buttonsubmit" disabled><i class="fa fa-check"></i>Kirim</button>
                                </div>
                                <!--<div class="col-sm-2">
                                    <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Batal</button>
                                </div>-->
                          </div>
                         
                    </form>
                        
                </div>
            </div>
            
             <div class="col-md-5">
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-ar">
                  <li class="active"><a href="#peraturan" data-toggle="tab">Peraturan Hukum Terbaru</a></li>
                  <li><a href="#berita" data-toggle="tab">Berita Hukum</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="peraturan">
					 {if $produk}
					{foreach $produk as $value}
					<div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
								{$cover = "/"|explode:$value.cover}
								{if $cover[1]}
									<img src="{$basedomain}public_assets/{$value.cover}" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
								{else}
									<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
								{/if}
							</div>
                            <div class="col-md-8 text-justify">
                                 <a href="{$basedomain}produk/detail/?id={$value.id_produk}"><h4 class="content-box-title"><b>{$value.judul}</b></h4></a>
                                <p align="justify">{$value.new_fomat_tgl} <br> <b>{limit_words($value.ref_deskripsi,15)} ...</b></p>
                                {$file = "/"|explode:$value.file}
								{if $file[1]}
								<a href="{$basedomain|cat:'public_assets/'|cat:$value.file}" class="btn btn-ar btn-success produk-hukum"  id="{$param_produk|cat:'_'|cat:$value.id_produk}" target="blank">Download</a>
                                 <label id="{$count_produk|cat:'_'|cat:$value.id_produk}">Telah diunduh {$value.hit} kali </label>
								<br>
								{/if}
								<!--<embed width="191" height="207" name="plugin" src="{$basedomain|cat:'public_assets/'|cat:$value.file}" type="application/pdf">-->
                                <span class="label label-primary">{$value.Tahun}</span> 
                                <span class="label label-primary">{$value.jns_produk}</span>
                            </div>
                        </div>
                    </div>
					{/foreach}
					{/if}
                    <div class="content-box box-default">
                        <div class="row">

                            <a href="{$basedomain}produk" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>
                </div>
                 
                  <div class="tab-pane" id="berita">
					{if $berita}
				 {foreach $berita as $values}
				 <div class="content-box box-default">
                    <div class="row text-left">
                        <div class="col-md-12">
                            <a href="{$basedomain}kegiatan/detail/?id={$values.id_berita}" class="berita-hukum" id="{$param_berita|cat:'_'|cat:$values.id_berita}" ><h4 class="content-box-title">{$values.judul}</h4></a>
                            <p>{dateFormat($values.tanggal,'article-day')}</p>
                        </div>
                        <div class="col-md-4">
                            {if $values.cover}
								<img src="{$basedomain}public_assets/{$values.cover}" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
							{else}
								<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
							{/if}
                        </div>
                        <div class="col-md-8 text-left">
                            <!--<p align="justify"><b>{$values.ringkasan}<b/> <a href="{$basedomain}kegiatan/detail/?id={$values.id_berita}" class="berita-hukum" id="{$param_berita|cat:'_'|cat:$values.id_berita}" target="blank">Read More</a></p>--> 
                           <p align="justify"><b>{limit_words($values.ringkasan,15)} ...<b/> </p> 
						   <label id="{$count_berita|cat:'_'|cat:$values.id_berita}">Telah dibaca {$values.hit} kali </label>
                        </div>
                    </div>
                </div>
				{/foreach}
                {/if}
                    <div class="content-box box-default">
                        <div class="row">
							<a href="{$basedomain}kegiatan" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>

                  </div>
                </div>
            </div>
        
            
    </div>
    

</div>
{literal}
<script>
function submitForm()
{
	var atLeastOneIsChecked = $('input[name="termagree"]:checked').length > 0;
	
	if(atLeastOneIsChecked){
		$("#buttonsubmit").removeAttr('disabled');
		
	} else {
		$("#buttonsubmit").attr('disabled','disabled');
		
	}
}
function isNumber(evt) {
		evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
			return false;
		}
		return true;
	}
$(document).ready(function() {
	$("#message2").hide();	
	$.clearInput = function () {
        $('form').find('input[type=text], input[type=password], input[type=number], input[type=email], textarea').val('');
	};
	$('#emailid').focusout(function(){
		$('#emailid').filter(function(){
		   var emil=$('#emailid').val();
	  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	if( !emailReg.test( emil ) ) {
		//alert('Please enter valid email');
			$("#message2").show();	
			$("#emaildiv").attr('class','form-group has-error');
			//$("#submit").attr('disabled','disabled');
		} else {
		//alert('Thank you for your valid email');
			$("#message2").hide();
			$("#emaildiv").attr('class','form-group');
			//$("#submit").removeAttr('disabled');		
		}
		})
	});
	
	$('.produk-hukum,.berita-hukum').on('click', function(){
		var tmp = $(this).attr('id');
		var tmp_split = tmp.split("_");
		var id = tmp_split[1]; 
		var inf = tmp_split[0];
		var type ;
		var text ;
		var param ;
		
		if (inf == 'produk'){
			type = 1;
			text = 'Telah diunduh ';
			param = 'ref_produk_'+id;
		}else if(inf == 'berita'){
			type = 2;
			text = 'Telah dibaca ';
			param = 'ref_berita_'+id;
		}
		$.post(basedomain+"home/ajax_count", {id: id, type: type}, function(data){
							if(data.hit > 0){
								$('#'+param).text(text+data.hit+' kali');
							}else{
								//nothing	
							}
			},"JSON");
	});
	
});	
</script>
{/literal}