<header class="main-header">
    <div class="container ">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Prasyarat</a></li>
        </ol>
    </div>
</header>

<section class="margin-bottom">
   <div class="container">
   
	<div class="row">
		<div class="col-md-12">
		 <h2 class="no-margin-top">Prasyarat</h2>
		</div>
	</div>
        <div class="row">
         
            <div class="col-md-7 text-justify" style=" border: 1px solid #E5E5E5; box-sizing: border-box;">
            
                <h2 class="right-line">Prasyarat Penggunaan Website JDIH BSN</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
                <p>Iusto harum est illum consequatur sint accusamus illo error beatae sit officiis quidem eius aliquid hic quisquam minima ducimus fugiat, qui nihil quis amet. Nemo unde accusantium ipsam inventore repudiandae excepturi molestias sapiente amet officia laboriosam facilis consectetur blanditiis, aut, cumque temporibus, quam beatae. Alias qui sint, numquam accusantium necessitatibus!</p>
                <p>Nostrum nesciunt possimus rem dolorem, sapiente vero placeat, quaerat dolore voluptate esse nisi eveniet suscipit iure magnam illum ullam pariatur fugiat repellendus sunt, blanditiis recusandae assumenda quisquam! Doloremque provident laboriosam numquam fuga, asperiores, expedita nesciunt vero, hic voluptatum laborum cumque modi aut nemo deserunt ratione sequi iste. Nobis, quis, error.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
                <p>Iusto harum est illum consequatur sint accusamus illo error beatae sit officiis quidem eius aliquid hic quisquam minima ducimus fugiat, qui nihil quis amet. Nemo unde accusantium ipsam inventore repudiandae excepturi molestias sapiente amet officia laboriosam facilis consectetur blanditiis, aut, cumque temporibus, quam beatae. Alias qui sint, numquam accusantium necessitatibus!</p>
                <p>Nostrum nesciunt possimus rem dolorem, sapiente vero placeat, quaerat dolore voluptate esse nisi eveniet suscipit iure magnam illum ullam pariatur fugiat repellendus sunt, blanditiis recusandae assumenda quisquam! Doloremque provident laboriosam numquam fuga, asperiores, expedita nesciunt vero, hic voluptatum laborum cumque modi aut nemo deserunt ratione sequi iste. Nobis, quis, error.</p>
            </div>
            <div class="col-md-5">
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-ar">
                  <li class="active"><a href="#peraturan" data-toggle="tab">Peraturan Hukum Terbaru</a></li>
                  <li><a href="#berita" data-toggle="tab">Berita Hukum</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="peraturan">
					 {if $produk}
					{foreach $produk as $value}
					<div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
								{if $value.cover}
									<img src="{$basedomain}public_assets/{$value.cover}" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
								{else}
									<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
								{/if}
							</div>
                            <div class="col-md-8 text-left">
                                 <a href="{$basedomain}produk/detail/?id={$value.id_produk}"><h4 class="content-box-title">{$value.judul}</h4></a>
                                <p align="justify">{$value.new_fomat_tgl} <br> <b>{$value.ref_deskripsi}</b></p>
                                <a href="{$basedomain|cat:'public_assets/'|cat:$value.file}" class="btn btn-ar btn-success produk-hukum"  id="{$param_produk|cat:'_'|cat:$value.id_produk}">Download</a>
                                 <label id="{$count_produk|cat:'_'|cat:$value.id_produk}">Telah diunduh {$value.hit} kali </label>
								<br>
								<!--<embed width="191" height="207" name="plugin" src="{$basedomain|cat:'public_assets/'|cat:$value.file}" type="application/pdf">-->
                                <span class="label label-primary">{$value.Tahun}</span> 
                                <span class="label label-primary">{$value.jns_produk}</span>
                            </div>
                        </div>
                    </div>
					{/foreach}
					{/if}
                    <div class="content-box box-default">
                        <div class="row">
                            <a href="{$basedomain}produk/" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>
                </div>
                 
                  <div class="tab-pane" id="berita">
					{if $berita}
				 {foreach $berita as $values}
				 <div class="content-box box-default">
                    <div class="row text-left">
                        <div class="col-md-12">
                            <a href="{$basedomain}kegiatan/detail/?id={$values.id_berita}" class="berita-hukum" id="{$param_berita|cat:'_'|cat:$values.id_berita}"><h4 class="content-box-title">{$values.judul}</h4></a>
                            <p>{dateFormat($values.tanggal,'article-day')}</p>
                        </div>
                        <div class="col-md-4">
                            {if $values.file}
								<img src="{$basedomain}public_assets/{$values.file}" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
							{else}
								<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" style="margin:5px 10px 0px 0px">
							{/if}
                        </div>
                        <div class="col-md-8 text-left">
                            <p align="justify"><b>{$values.ringkasan}<b/> <a href="{$basedomain}kegiatan/detail/?id={$values.id_berita}" class="berita-hukum" id="{$param_berita|cat:'_'|cat:$values.id_berita}">Read More</a></p> 
                           <label id="{$count_berita|cat:'_'|cat:$values.id_berita}">Telah dibaca {$values.hit} kali </label>
                        </div>
                    </div>
                </div>
				{/foreach}
                {/if}
                    <div class="content-box box-default">
                        <div class="row">
                           <a href="{$basedomain}kegiatan/" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>

                  </div>
                </div>
            </div>
        
    </div>
</section>
{literal}
<script>
$(document).ready(function() {
	$('.produk-hukum,.berita-hukum').on('click', function(){
		var tmp = $(this).attr('id');
		var tmp_split = tmp.split("_");
		var id = tmp_split[1]; 
		var inf = tmp_split[0];
		var type ;
		var text ;
		var param ;
		
		if (inf == 'produk'){
			type = 1;
			text = 'Telah diunduh ';
			param = 'ref_produk_'+id;
		}else if(inf == 'berita'){
			type = 2;
			text = 'Telah dibaca ';
			param = 'ref_berita_'+id;
		}
		$.post(basedomain+"home/ajax_count", {id: id, type: type}, function(data){
							if(data.hit > 0){
								$('#'+param).text(text+data.hit+' kali');
							}else{
								//nothing	
							}
			},"JSON");
	});
	
});	
</script>
{/literal}