{foreach $produk as $val}
 <div class="content-box box-default">
    <div class="row">
        <div class="col-md-4">
            <img src="{$basedomain}public_assets/{if $val.cover eq ''}noimage.png{else}{$val.cover}{/if}" alt="" class="img-responsive">
        </div>
        <div class="col-md-8 text-left">
            <a href="{$basedomain}detail">
                <h4 class="content-box-title">{$val.judul}</h4>
            </a>
            <p>{$val.tanggal}<br> <b>{$val.deskripsi}</b></p>
            <a href="#" class="btn btn-ar btn-success">Download</a>
            <br>
            <span class="label label-primary">Tahun {$val.tahun}</span> 
            <span class="label label-primary">{$val.jenis}</span>
        </div>
    </div>
 </div>
{/foreach}