<header class="main-header">
    <div class="container">
        <h1 class="page-title">Peraturan Pemerintah</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Produk Hukum</a></li>
            <li><a href="#">Peraturan Pemerintah</a></li>
            <li style="color:#000">Undang-undang Nomor 12 Tahun 2012</li>
        </ol>
    </div>
</header>


<section class="margin-bottom">
   <div class="container">
        <div class="row">
         
            <div class="col-md-7 text-justify" style=" border: 1px solid #E5E5E5; box-sizing: border-box;">
            
                <h3>Undang - Undang Nomor 12 Tahun 2012</h3>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            
                            <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Jenis Produk Hukum</label>
                                    <div class="col-sm-8">
                                      <p>Undang-Undang</p>
                                    </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Nomor</label>
                                    <div class="col-sm-8">
                                      <p>12/VI/02/02/BSN</p>
                                    </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Tahun</label>
                                    <div class="col-sm-8">
                                      <p>2012</p>
                                    </div>
                            </div>
                          
                             <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Tanggal Upload</label>
                                    <div class="col-sm-8">
                                      <p>Rabu, 02 Desember 2015</p>
                                    </div>
                              </div>
                              
                              <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Tentang</label>
                                    <div class="col-sm-8">
                                      <p>Pelayanan Publik di Lingkungan Pemerintahan Non Kementrian</p>
                                    </div>
                              </div>
                              <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Deskripsi Singkat</label>
                                    <div class="col-sm-8">
                                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
                                    </div>
                              </div>
                              
                            <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Status Akhir</label>
                                    <div class="col-sm-8">
                                      <p>Berlaku</p>
                                    </div>
                             </div>
                             
                            <div class="form-group">
                                <label for="select" class="col-sm-4 control-label" style="padding-top:0px">Diunduh Sebanyak</label>
                                    <div class="col-sm-8">
                                      <p>2500 kali</p>
                                    </div>
                             </div>
                             
                            <div class="form-group">
                                <label for="select" class="col-sm-4 control-label">Unduh File</label>
                                    <div class="col-sm-8">
                                      <button type="button" class="btn btn-ar btn-success">Download</button>
                                    </div>
                             </div>
                             
                        </form>
                            
                    </div>
                    
                    <hr>
                    
                    
                     <div class="content-box box-default">
                        <h2> View Document PDF dan scroll down</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
                        <p>Iusto harum est illum consequatur sint accusamus illo error beatae sit officiis quidem eius aliquid hic quisquam minima ducimus fugiat, qui nihil quis amet. Nemo unde accusantium ipsam inventore repudiandae excepturi molestias sapiente amet officia laboriosam facilis consectetur blanditiis, aut, cumque temporibus, quam beatae. Alias qui sint, numquam accusantium necessitatibus!</p>
                        <p>Nostrum nesciunt possimus rem dolorem, sapiente vero placeat, quaerat dolore voluptate esse nisi eveniet suscipit iure magnam illum ullam pariatur fugiat repellendus sunt, blanditiis recusandae assumenda quisquam! Doloremque provident laboriosam numquam fuga, asperiores, expedita nesciunt vero, hic voluptatum laborum cumque modi aut nemo deserunt ratione sequi iste. Nobis, quis, error.</p>
                    </div>
                    
            </div>
        
            <div class="col-md-5">
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-ar">
                  <li class="active"><a href="#peraturan" data-toggle="tab">Peraturan Hukum Terbaru</a></li>
                  <li><a href="#berita" data-toggle="tab">Berita Hukum</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="peraturan">
                     <div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/demo/book.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <h4 class="content-box-title">Peraturan Pemerintah Republik Indonesia Nomor 82 Tahun 2012</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB <br> <b>tentang Penyelenggaraan Sistem dan Transaksi Elektronik</b></p>
                                <a href="#" class="btn btn-ar btn-success">Download</a>
                                <br>
                                <span class="label label-primary">Tahun 2012</span> 
                                <span class="label label-primary">Peraturan Pemerintah</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/demo/book.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <h4 class="content-box-title">Peraturan Pemerintah Republik Indonesia Nomor 82 Tahun 2012</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB <br> <b>tentang Penyelenggaraan Sistem dan Transaksi Elektronik</b></p>
                                <a href="#" class="btn btn-ar btn-success">Download</a>
                                <br>
                                <span class="label label-primary">Tahun 2012</span> 
                                <span class="label label-primary">Peraturan Pemerintah</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-box box-default">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/demo/book.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <h4 class="content-box-title">Peraturan Pemerintah Republik Indonesia Nomor 82 Tahun 2012</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB <br> <b>tentang Penyelenggaraan Sistem dan Transaksi Elektronik</b></p>
                                <a href="#" class="btn btn-ar btn-success">Download</a>
                                <br>
                                <span class="label label-primary">Tahun 2012</span> 
                                <span class="label label-primary">Peraturan Pemerintah</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-box box-default">
                        <div class="row">
                            <a href="#" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>
                </div>
                  
                  <div class="tab-pane" id="berita">
                     <div class="content-box box-default">
                        <div class="row text-left">
                            <div class="col-md-12">
                                <h4 class="content-box-title">Infografis: Alur Proses Sertifikasi SNI Pada Produk</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB </p>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/demo/w3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <p>Berikut Informasi Proses Sertifikasi SNI yang disajikan dalam infografis... <a href="#">Read More</a></p> 
                                <h6>Telah dibaca 2500 kali</h6>
                            </div>
                        </div>
                    </div>
                    
                     <div class="content-box box-default">
                        <div class="row text-left">
                            <div class="col-md-12">
                                <h4 class="content-box-title">Infografis: Alur Proses Sertifikasi SNI Pada Produk</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB </p>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/demo/w2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <p>Berikut Informasi Proses Sertifikasi SNI yang disajikan dalam infografis... <a href="#">Read More</a></p> 
                                <h6>Telah dibaca 2500 kali</h6>
                            </div>
                        </div>
                    </div>
                    
                     <div class="content-box box-default">
                        <div class="row text-left">
                            <div class="col-md-12">
                                <h4 class="content-box-title">Infografis: Alur Proses Sertifikasi SNI Pada Produk</h4>
                                <p>Selasa, 19/01/2016 09:34 WIB </p>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/demo/w2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-8 text-left">
                                <p>Berikut Informasi Proses Sertifikasi SNI yang disajikan dalam infografis... <a href="#">Read More</a></p> 
                                <h6>Telah dibaca 2500 kali</h6>
                            </div>
                        </div>
                    </div>
                    
                    <div class="content-box box-default">
                        <div class="row">
                            <a href="#" class="pull-center">Selengkapnya</a>
                        </div>
                    </div>

                  </div>
                </div>
            </div>
        </div>
    </div>
</section>