<section class="content-header">
  <h1>
    Statistik
    <small>Senin, 22 Februari 2016</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Statistik</li>
  </ol>
</section>


<section class="content">
	<div class="row">
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header with-border">
					<div class="col-xs-12">
						<div class="input-group">
							<label>Range Tanggal </label>
						</div>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" name="tanggal" class="form-control datepicker" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required  id="start">
							<span class="input-group-addon">to</span>
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" name="tanggal" class="form-control datepicker" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required id="end">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header with-border">
					<div class="col-xs-12">
						<div class="input-group">
							<label>Jenis Produk Hukum</label>			
						</div>
						<div class="input-group">
							<select class="form-control select" style="width: 100%;" id ="idj">
									<!--<option selected="selected">Pilih Produk Hukum</option>-->
										{foreach $jns_produk as $val}
										{if $default == $val.nama}
											{$sel = "selected"}
										{else }
											{$sel = ""}
										{/if}
									<option value="{$val.id_jenis}" {$sel}>{$val.nama}</option>
										
										{/foreach}
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header with-border">
				  <h3 class="box-title">Jumlah Produk Hukum</h3>
				  <div class="box-tools pull-right">
				    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				  </div>
				</div>
				<div class="box-body chart-responsive">
				  <div class="chart" id="bar-chart" style="height: 300px;"></div>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>

		<div class="col-md-6">
			<!-- DONUT CHART -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Jumlah Unduh Produk Hukum Terpopuler</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body chart-responsive">
                  <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                </div><!-- /.box-body -->
             </div><!-- /.box -->
		</div>

	</div>

<div class="box box-default">
	<div class="box-header with-border">
	  <h3 class="box-title">Statistik Laporan</h3>
	  <div class="box-tools pull-right">
		<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
	  </div>
	</div><!-- /.box-header -->
	
	
	
	<div class="box-body">
	  <div class="row">
		<!--<div class="col-md-6">
		  <div class="form-group">
			<label>Jenis Produk Hukum</label>
			<select class="form-control select2" style="width: 100%;">
			  <option selected="selected">Pilih Produk Hukum</option>
			  {foreach $jns_produk as $val}
				<option value="{$val.id_jenis}">{$val.nama}</option>
			  {/foreach}
			</select>
		  </div>
		   <div class="form-group">
			<label>Status Akhir</label>
			<select name="status_akhir" class="form-control select2" style="width: 100%;" required>
			  <option value="" disabled selected>Pilih Status Akhir</option>
			  <option value="Rancangan">Rancangan</option>
			  <option value="Berlaku">Berlaku</option>
			  <option value="Perubahan">Perubahan</option>
			  <option value="Pencabutan">Pencabutan</option>
			</select>
		  </div>
		</div>
		<div class="col-md-6">
		 <div class="form-group">
			<label>Tahun</label>
				<input type="text" name="tahun" class="form-control" placeholder="" data-inputmask="'mask': '9999'" data-mask required>
          </div>
		</div>
		
		<div class="col-md-6">
		 <div class="form-group">
			<label>Publish/Non-Publish</label>
			<select class="form-control select2" style="width: 100%;">
			  <option selected="selected">Publish</option>
			  <option>Non-Publish</option>
			</select>
		  </div>
		</div>-->
		 
	  </div>
	  
	  <div class="pull-right">
		   <button class="btn btn-sm btn-social btn-danger rpt" value="1" name="type" id ="flag_1">
			  <i class="fa fa-file-pdf-o"></i> Download pdf
			</button>
          <button class="btn btn-sm btn-social btn-success rpt" value="2" name="type" id ="flag_2">
			  <i class="fa fa-file-excel-o"></i> Download xls
			</button>
		</div>
	  
	  <!--  <div>
		  <ul class="pagination pagination-sm no-margin pull-center">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">&raquo;</a></li>
		  </ul>
		</div> -->
	</div><!-- /.box-body -->
  </div><!-- /.box -->

	
</section>

{literal}
<script>
	$(document).ready(function() {
		//untuk update data DONUT chart
		window.Morris.Donut.prototype.setData = function(data, redraw) {
			if (redraw == null) {
				redraw = true;
			}
			this.data = data;
			this.values = (function() {
			var _i, _len, _ref, _results;
			_ref = this.data;
			_results = [];
			for (_i = 0, _len = _ref.length; _i < _len; _i++) {
				row = _ref[_i];
				_results.push(parseFloat(row.value));
			}
			return _results;
			}).call(this);
			this.dirty = true;
			if (redraw) {
				return this.redraw();
			}
		}
		
		//masking tahun
		 $("[data-mask]").inputmask();
		
		//bar chart default
		var bar;
		$.post(basedomain+"statistik/chart",function(statistik){
			var value = eval(statistik.key);
			var yk 	  = eval(statistik.flag);
			var lb 	  = eval(statistik.label);
			
			var Newdata = value,
			 config =({
			  //element: 'bar-chart',
			  resize: true,
			  data: Newdata,
			  barColors: ['#00a65a', '#f56954'],
			  xkey: 'y',
			  ykeys: yk,
			  labels: lb,
			  hideHover: 'auto'
			});
			config.element = 'bar-chart';
			bar = Morris.Bar(config)
		},"JSON");
		
		//donut chart default
		var donut ="";
		var idj = $('#idj').val();
		//console.log(idj);
		$.post(basedomain+"statistik/chart_donut",{idj:idj},function(bar){
		//$.post(basedomain+"statistik/chart_donut",function(bar){
			//var label_value = eval(bar.data);
			var label_value;
			if(bar.data){
				label_value = eval(bar.data);
			}else{
				var temp = "[{label : '-', value : 0}]";
				label_value = eval(temp);
			}
			donut = Morris.Donut({
			element: 'sales-chart',
			data: 
			//custome
			label_value,
			 colors: ["#ec7063","#af7ac5","#5dade2","#48c9b0","#f4d03f"],
			resize:true
		  });
		},"JSON");
		
		//donut chart custome
		$('#idj').on('change', function(){
			var idj = $('#idj').val();
				if(idj != ''){
				$.post(basedomain+"statistik/chart_donut", {idj:idj},function(bar){
					var label_value;
					if(bar.data){
						label_value = eval(bar.data);
					}else{
						var temp = "[{label : '-', value : 0}]";
						label_value = eval(temp);
					}
					donut.setData(label_value);		
				},"JSON");
				
			}
			
		});
		
		//bar chart custome
		$('#start,#end').on('change', function(){
			var start = $('#start').val();
			var end = $('#end').val();
				if(start != '' && end != ''){
					$.post(basedomain+"statistik/chart_bar2",{start:start, end:end},function(statistik){
					var value = eval(statistik.key);
					var yk 	  = eval(statistik.flag);
					var lb 	  = eval(statistik.label);
					$('#bar-chart').empty();
					var Newdata = value,
					 config =({
					  //element: 'bar-chart',
					  resize: true,
					  data: Newdata,
					  barColors: ['#00a65a', '#f56954'],
					  xkey: 'y',
					  ykeys: yk,
					  labels: lb,
					  hideHover: 'auto'
					});
					config.element = 'bar-chart';
					bar = Morris.Bar(config)
				},"JSON");
			}
		});
		
		$('.rpt').on('click', function(){
			var start = $('#start').val();
			var end = $('#end').val();
			var tmp = $(this).attr('id');
			var val_split = tmp.split("_");
			var flag = val_split[1];
			window.location.href=basedomain+"statistik/report/?start="+start+"&end="+end+"&flag="+flag;

		});	
	
		new Switchery(document.getElementById('demo-sw-checked'),{size: 'small'});
	
		 $("#example1").DataTable();
        new Switchery(document.getElementById('demo-sw-checked'),{size: 'small'});
        $('#reservation').daterangepicker();

        $("#example1").DataTable();
    })
</script>
{/literal}