<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{$basedomain}assets/img/color/blue/logobsn.png" style="margin-top:20px">
                <h4 style="color:#fff;margin-top:0px">Badan Standardisasi Nasional<br>National Standardization Agency of Indonesia</h4>
                
                <ul class="list-unstyled three_cols">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Prasyarat</a></li>
                    <li><a href="portfolio_sidebar.html">Tentang JDIH</a></li>
                    <li><a href="portfolio_topvar.html">Works</a></li>
                    <li><a href="page_timeline_left.html">Produk Hukum</a></li>
                    <li><a href="page_pricing.html">Berita Hukum</a></li>
                    <li><a href="page_contact.html">Kontak Kami
                </ul>
            </div>
            <div class="col-md-6">
                <div class="footer-widget">
                    <div class="media" style="margin-top:40px">
                    <a href="#" style="color:#FFF" class="social-icon-ar circle facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" style="color:#FFF" class="social-icon-ar circle twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" style="color:#FFF" class="social-icon-ar circle youtube"><i class="fa fa-youtube"></i></a>
                    </div>
                    <div class="media">
                      <i class="glyphicon glyphicon-map-marker fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">Biro Hukum, Organisasi dan HUMAS Gedung I BPPT <br> Jl. M.H.Thamrin No.8 Lantai 10<br>Kebon Sirih Jakarta Pusat 10340</h4>
                        </div>
                    </div>
                    <div class="media">
                        <i class="glyphicon glyphicon-phone fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">Phone 021 3927422 - 021 3927527</h4>
                        </div>
                    </div>
                    <div class="media">
                        <i class="glyphicon glyphicon-envelope fa-3x pull-left"></i>
                        <div class="media-body">
                            <h4 class="media-heading">bsn@bsn.go.id</h4>
                          
                        </div>
                    </div>
                </div>
            </div>
         
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>Copyright <a href="http://bsn.go.id">BSN</a> @ 2016 All Rights Reserved</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>