<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">

        <div class="header-full-title">
      <!-- <img src="assets/img/color/blue/logobsn.png" width="25%"> -->
            <!-- <h4 class="animated fadeInRight" style="color:#DA251E;margin-left:20px"></span></h4> -->
            <p class="animated fadeInRight" style="text-align:left;margin-left:80px"><span style="color:#DA251E">Jaringan Dokumentasi dan Informasi Hukum</span><br>
      <span style="color:#666666">Badan Standardisasi Nasional <br> National Standardization Agency of Indonesia</span></p>
    </div>
  
        <nav class="top-nav">
          
          <div class="dropdown animated fadeInDown animation-delay-13">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
               <form class="form-horizontal" role="form" action="{$basedomain}home/filter_produk" method="post">
                <div class="input-group">
                  <input type="text" class="form-control" name="judul" placeholder="Cari Produk Hukum...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-ar btn-primary">Tampilkan</button> 
                  </span>
                </div><!-- /input-group -->
              </form>
            </div>
          </div> <!-- dropdown -->
          
          <div class="dropdown animated fadeInDown animation-delay-11">
            <a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#myModal">Find More</a>
          </div>
        
         <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Pencarian Lanjutan</h4>
            </div>
            
            <div class="modal-body">
            <div class="panel-body">
              <form class="form-horizontal" role="form" action="{$basedomain}home/filter" method="post">
                <div class="form-group">
                <label for="select" class="col-sm-4 control-label">Jenis Pencarian</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="select_jenis" name="select_jenis">
						<option selected disabled>Pilih Jenis Pencarian</option>
						<option value="1">Produk Hukum</option>
						<option value="2">Berita Hukum</option>
						<option value="3">Kajian Hukum</option>
						<option value="4">Referensi Buku</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group">
                <label for="select" class="col-sm-4 control-label">Tanggal</label>
                   <div class="col-sm-8">
				  <div class="input-group">
					  <!--<input type="text" class="form-control datepicker" name="tanggal">
					  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
					  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					  <input type="text" class="form-control datepicker" name="tanggal" value="{$tmp_tgl_start}">
					 <span class="input-group-addon">s/d</span>
					  <input type="text" class="form-control datepicker" name="tanggal_2" value="{$tmp_tgl_end}">
				  </div>
				</div>
                </div>
                
                <div class="form-group" id="tahun">
                <label for="select" class="col-sm-4 control-label">Tahun</label>
                  <div class="col-sm-8">
                    <!--<select class="form-control" id="select">
                    <option>Pilih Tahun</option>
                    <option></option>
                    <option></option>
                    <option></option>
                    </select>-->
						<input type="text" name="tahun" class="form-control" placeholder="" data-inputmask="'mask': '9999'" data-mask >
					</div>
                  </div>
            
                <div class="form-group" id="judul">
                <label for="inputEmail3" class="col-sm-4 control-label">Judul</label>
                <div class="col-sm-8">
                  <input type="text" name="judul" class="form-control" id="inputEmail3" placeholder="">
                </div>
                </div>
                
                <div class="form-group" id="nomor">
                <label for="inputPassword3" class="col-sm-4 control-label">Nomor</label>
                <div class="col-sm-8">
                  <input type="text" name="nomor" class="form-control" id="inputPassword3" placeholder="">
                </div>
                </div>
                
                <div class="form-group" id="status_akhir">
                <label for="select" class="col-sm-4 control-label">Status Akhir</label>
                  <div class="col-sm-8">
                    <select name="status_akhir" class="form-control" style="width: 100%;" >
					  <option value="" disabled selected>- Pilih Status Akhir -</option>
					  <option value="Rancangan">Rancangan</option>
					  <option value="Berlaku">Berlaku</option>
					  <option value="Perubahan">Perubahan</option>
					  <option value="Pencabutan">Pencabutan</option>
					</select>
                  </div>
                </div>
                <div class="modal-footer">
				<!--<button type="button" class="btn btn-ar btn-primary" data-dismiss="modal">Tampilkan</button>-->
			    <button type="submit" class="btn btn-ar btn-primary" id ="buttonsubmit" >Tampilkan</button>
				<button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Batal</button>
            </div>
              </form>
            </div>
            </div>
            
          </div>
          </div>
        </div>
            
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->