<!-- Scripts -->
<!-- Compiled in vendors.js -->
<!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-switch.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/slidebars.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/buttons.js"></script>
<script src="assets/js/jquery.mixitup.min.js"></script>
<script src="assets/js/circles.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/jquery.matchHeight-min.js"></script>
-->



<!--<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>-->


<!-- <script src="assets/js/styleswitcher.js"></script> -->

<!-- Syntaxhighlighter -->
<script src="{$basedomain}assets/js/syntaxhighlighter/shCore.js"></script>
<script src="{$basedomain}assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="{$basedomain}assets/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="{$basedomain}assets/js/DropdownHover.js"></script>
<script src="{$basedomain}assets/js/app.js"></script>
<script src="{$basedomain}assets/js/holder.js"></script>
<script src="{$basedomain}assets/js/index.js"></script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="{$basedomain}assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{$basedomain}assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/demo.revolution_slider.js"></script>

<script type="text/javascript" src="{$basedomain}assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- InputMask -->
    <script src="{$basedomain}assets/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="{$basedomain}assets/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="{$basedomain}assets/plugins/input-mask/jquery.inputmask.extensions.js"></script>
{literal}	
<script type="text/javascript">
	$(document).ready(function(){
		$("[data-mask]").inputmask();
		$('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight : true,
            todayBtn: 'linked'
        });
		//filter modal
		 $('#select_jenis').on('change', function(){
			var jenis = $("#select_jenis").val();
			if(jenis == 1){
				$("#tahun").show(300);
				$("#judul").show(300);
				$("#nomor").show(300);
				$("#status_akhir").show();
			}else if(jenis == 2){
				$("#tahun").hide(300);
				$("#judul").show(300);
				$("#nomor").hide(300);
				$("#status_akhir").hide();
			}else if(jenis == 3){
				$("#tahun").hide(300);
				$("#judul").show(300);
				$("#nomor").hide(300);
				$("#status_akhir").hide(300);
			}else if(jenis == 4){
				$("#tahun").hide(300);
				$("#judul").show(300);
				$("#nomor").hide(300);
				$("#status_akhir").hide(300);
			}
		});
			
		$('.berita-hukum3').on('click', function(){
		var tmp = $(this).attr('id');
		var tmp_split = tmp.split("_");
		var id = tmp_split[1]; 
		var inf = tmp_split[0];
		
		var type = 2;
		var text = 'Telah dibaca ';
		var param = 'ref_berita3_'+id;
		
		$.post(basedomain+"home/ajax_count", {id: id, type: type}, function(data){
							if(data.hit > 0){
								$('#'+param).text(text+data.hit+' kali');
							}else{
								//nothing	
							}
			},"JSON");
		});	
			
	})
</script>
{/literal}	
</body>

</html>