<header class="main-header">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Referensi Buku</a></li>
        </ol>
    </div>
</header>


  <div class="container">

	<div class="row" style="margin-bottom:10px">
		 
			<div class="col-md-12" style=" border: 1px solid #E5E5E5; box-sizing: border-box;">
			
				<h3>Referensi Buku</h3>
				<div class="panel-body">
					<form class="form-horizontal" role="form" method="POST" action="{$basedomain}referensi/filter">
					  
					  
						 <div class="form-group">
							<label for="select" class="col-sm-2 control-label">Judul</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="judul" id="inputEmail3" placeholder="">
								</div>
						  </div>
						  
						 <div class="form-group">
							<label for="select" class="col-sm-2 control-label">Pengarang</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="pengarang" id="inputEmail3" placeholder="">
								</div>
						  </div>
						  
						   <div class="form-group">
							<label for="select" class="col-sm-2 control-label"></label>
								<div class="col-sm-6">
									<button type="submit" class="btn btn-ar btn-primary" data-dismiss="modal">Tampilkan</button>
								</div>
						  </div>
						 
					</form>
						
				</div>
			</div>
	</div>
    
<section class="margin-bottom">
	   <div class="row" id="content">
	    <ul class="bxslider">
		{if !empty($ref)}
		{foreach $ref as $val}
			<li>
			<div class="col-md-3">
					<div class="img-caption-ar">
						{if $val.cover}
							<img src="{$basedomain}public_assets/{$val.cover}" alt="" class="img-responsive" width="160px" height="160px" >
						{else}
							<img src="{$basedomain}public_assets/noimage.png" alt="" class="img-responsive" width="160px" height="160px" >
						{/if}
						<div class="caption-ar">
							<div class="caption-content">
								<a href="{$basedomain}referensi/detail/?id={$val.id_ref}" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
								<h4 class="caption-title">{$val.judul}</h4>
							</div>
						</div>
					</div>
			</div>
			</li>
		{/foreach}
		{else}
			<center>{pr('Data tidak ditemukan')}</center>
		{/if}
			
		</ul>
		</div>
		
			<div class="content-box">
			  <div class="row">  
				<div id="page-selection"></div>
			  </div>
			</div>
			<input type="hidden" id="total" value="{$totalRef.total}">
			<input type="hidden" id="judul" value="{$fil_ref.judul}">
			<input type="hidden" id="pengarang" value="{$fil_ref.pengarang}">
			
			
</section>
</div>

{literal}
<script>
$(document).ready(function() {
	
	$('#page-selection').bootpag({
		  total: Math.ceil($("#total").val()/4)
	  }).on("page", function(event, num){
		$.ajax({
		  url: basedomain+"referensi/ajaxref/?site="+num+"&jdl="+$("#judul").val()+"&author="+$("#pengarang").val(),
		 
		}).done(function(data) {
		  $("#content").html( data );
		});
	  });

	$('.produk-hukum,.berita-hukum').on('click', function(){
		var tmp = $(this).attr('id');
		var tmp_split = tmp.split("_");
		var id = tmp_split[1]; 
		var inf = tmp_split[0];
		var type ;
		var text ;
		var param ;
		
		if (inf == 'produk'){
			type = 1;
			text = 'Telah diunduh ';
			param = 'ref_produk_'+id;
		}else if(inf == 'berita'){
			type = 2;
			text = 'Telah dibaca ';
			param = 'ref_berita_'+id;
		}
		$.post(basedomain+"home/ajax_count", {id: id, type: type}, function(data){
							if(data.hit > 0){
								$('#'+param).text(text+data.hit+' kali');
							}else{
								//nothing	
							}
			},"JSON");
	});
});	
</script>
{/literal}

