<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Edit Jenis Produk Hukum</h4>
</div>

	<form class="form-horizontal" method="post" action="{$basedomain}pengaturan/edit_produk">
	  <div class="box-body">
		
		<div class="form-group">
		  <label for="inputPassword3" class="col-sm-4 control-label">Jenis Produk Hukum</label>
		  <div class="col-sm-7">
			<input type="text" class="form-control" name="nama" placeholder="" value="{$data.nama}">
		  </div>
		</div>
		
	  </div><!-- /.box-body -->
	  <input type="hidden" name="id_jenis" value="{$data.id_jenis}">
	  <div class="modal-footer">
		<button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-sm btn-primary">Submit</button>
	  </div>			 
	</form>