<section class="content-header">
  <h1>
    Daftar Produk Hukum
    <small>Senin, 22 Januari 2016</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{$basedomain}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Produk Hukum</li>
  </ol>
</section>


<section class="content">

	<div class="row">

		<div class="col-md-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Daftar Produk Hukum</h3>
        </div><!-- /.box-header -->
        <div class="box-body">

           <div class="row">

            <div class="col-xs-12">
              <div class="form-group">
                <a class="btn btn-social btn-bitbucket btn-sm" href="{$basedomain}produk/tambah">
                  <i class="fa fa-plus"></i> Tambah Produk Hukum
                </a>
              </div>
            </div>

            <!-- <div class="col-xs-5">
              <div class="form-group">
                <label>Pencarian:</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="reservation">
                </div>
              </div>
            </div> -->

            <!-- <div class="col-xs-4">
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group">
                  <a class="btn btn-social btn-dropbox btn-sm">
                    <i class="fa fa-search"></i> Lihat
                  </a>
                </div>
              </div>
            </div> -->

          </div>
          <table id="example1" class="table table-bordered table-striped" style="font-size:13px">
            <thead>
              <tr>
                <th>No</th>
                <th>Jenis</th>
                <th>Judul</th>
                <th>Tanggal</th>
                <th>Tgl Publish</th>
                <th>Status</th>
                {if $admin.type eq 1}
                <th>Publish/Non-Publish</th>
                {/if}
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
            {foreach $data as $key => $val}
              <tr>
                <td>{$key+1}</td>
                <td>{$val.id_jenis}</td>
                <td>{$val.judul}</td>
                <td>{$val.tanggal}</td>
                <td>{$val.create_date}</td>
                <td>{$val.status_akhir}</td>
                {if $admin.type eq 1}
                <td class="text-center"><input class="js-switch" type="checkbox" {if $val.publish eq 1}checked{/if}></td>
                {/if}
                <td class="text-center">
                	<a href="{$basedomain}produk/edit/?id={$val.id_produk}">
                  		<button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>&nbsp;
                  	</a>
                  	<a href="{$basedomain}produk/delete/?id={$val.id_produk}" onclick="return confirm('Apakah yakin dihapus?');">
                  		<button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                	</a>
                </td>
              </tr>
              {/foreach}
            </tbody>
            <tfoot>
                <th>No</th>
                <th>Jenis</th>
                <th>Judul</th>
                <th>Tanggal</th>
                <th>Tgl Publish</th>
                <th>Status</th>
                {if $admin.type eq 1}
                <th>Publish/Non-Publish</th>
                {/if}
                <th>Aksi</th>
            </tfoot>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
		</div>

	</div>
</section>

{literal}
<script>
    $(function () {
        $("#example1").DataTable();
        // new Switchery(document.getElementById('demo-sw-checked'),{size: 'small'});
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function(html){
        	var switchery = new Switchery(html);
        })
        $('#reservation').daterangepicker();
    })
</script>
{/literal}